body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*Inflation header styles*/
.Inflation-title span {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  position: relative;
}

.Inflation-caption {
  color: #666;
  font-size: 0.7rem;
  line-height: 1.125rem;
  position: relative;
  bottom: 8px;
}

/* Inflation Content Styles */
.container img {
  width: 640px;
  height: 635px;
}

.container p {
  font-size: 10px;
  width: 160px;
  position: absolute;
}

.container p strong {
  display: inline-block;
  font-size: 10px;
  margin-right: 8px;
}

.absolute-row-1 {
  top: 210px;
}

.absolute-row-two {
  top: 550px;
}

#second,
#sixth {
  left: 162px;
}

#third {
  left: 325px;
}

#fourth,
#eigth {
  left: 495px;
}

#seventh {
  left: 330px;
}

/* Footer styles */
.Inflation-footer {
  position: relative;
  bottom: 54px;
  color: #333;
}

.Inflation-footer span.line {
  height: 2px;
  width: 75px;
  background-color: #000;
  position: absolute;
  bottom: 28px;
  z-index: 15;
}

.Inflation-footer p {
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
}
