/*Basic Styles*/
html,
body {
  color: #121;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav Styles */
header.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.nav-main {
  margin: 5px 0 0 0;
  border-bottom: 1px solid #e2e2e2;
}

.nav-main * {
  display: inline;
}

.nav-brand {
  position: relative;
  top: 5px;
  left: 35px;
}

.nav-brand a {
  display: inline-block;
  width: 200px;
}

.nav-brand img {
  /* width: 200px; */
  height: 28px;
  margin: 0 30vw;
}

.left-nav-menu {
  position: relative;
  bottom: 6px;
}

.left-nav-menu button {
  border: none;
  background-color: #fff;
  outline: none;
  padding: 10px;
  border-radius: 2px;
}

.left-nav-menu button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.left-nav-menu a {
  text-decoration: none;
  color: #121;
  font-weight: bold;
  font-size: 12px;
}

.left-nav-menu a:hover {
  text-decoration: underline;
}

section.nav-btn {
  float: right;
  margin-right: 20px;
}

.nav-btn button {
  background: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 11px;
  padding: 10px;
}

.nav-btn button:hover {
  background: #326891;
  border: 1px solid #6288a5;
}

/* Main content Styles */

main {
  margin-top: 120px;
  font-family: "Times New Roman", Times, serif;
}

/* Main Article featured title */
article h1 {
  font-size: 33px;
  line-height: 35px;
  font-weight: bold;
  font-style: italic;
  width: 350px;
  margin: 0 auto;
}

/*.article-main-image*/
.featured {
  width: 950px;
  margin: 40px auto;
}

.article-main-image img {
  max-width: 950px;
}

.image-caption {
  width: 75%;
}

.caption-text {
  font-size: 13.5px;
  line-height: 18px;
  text-align: left;
  color: #666;
}

.credits {
  color: #999;
  font-size: 11.52px;
}

/* Main article */

.featured-desc {
  width: 560px;
  margin: 20px auto;
  position: relative;
}

.featured-desc-header {
  display: inline;
}

.post-author {
  font-size: 13.5px;
  color: #000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.post-author a {
  color: black;
  text-decoration-color: #ccc;
}

.post-extra {
  margin: 25px 0;
}

.post-publish-date {
  float: left;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
}

.post-extra-right {
  float: right;
  width: 252px;
}

.social-widget {
  float: left;
  margin-right: 20px;
}

.social-widget li {
  margin: 0 5px;
  display: inline-block;
  padding: 5px;
  background-color: #ede;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: relative;
}

.social-widget li:last-child {
  margin-right: 0;
}

.social-widget a {
  color: #000;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 15px;
}

.social-widget ul li:first-child a {
  left: 8px;
}

.social-widget ul li:hover {
  background-color: #fff;
}

.post-actions span {
  margin: 0 5px;
}
/* article-first-part */
.posts {
  margin: 20px auto;
  clear: both;
  font-size: 19px;
  line-height: 30px;
  position: absolute;
  top: 60px;
}
.posts p {
  margin: 20px 0;
}

.posts p a,
.bold-link {
  color: #326891;
}

.bold-link {
  font-weight: bold;
}

.posts p strong {
  font-weight: bold;
  font-size: 1.05em;
}
