/*Basic Styles*/
html,
body {
  color: #121;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav Styles */
header.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}
.nav-main {
  margin: 5px 0 0 0;
  border-bottom: 1px solid #e2e2e2;
}

.nav-main * {
  display: inline;
}

.nav-brand {
  position: relative;
  top: 5px;
  left: 35px;
}

.nav-brand a {
  display: inline-block;
  width: 200px;
}

.nav-brand img {
  /* width: 200px; */
  height: 28px;
  margin: 0 30vw;
}

.left-nav-menu {
  position: relative;
  bottom: 6px;
}

.left-nav-menu button {
  border: none;
  background-color: #fff;
  outline: none;
  padding: 10px;
  border-radius: 2px;
}

.left-nav-menu button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.left-nav-menu a {
  text-decoration: none;
  color: #121;
  font-weight: bold;
  font-size: 12px;
}

.left-nav-menu a:hover {
  text-decoration: underline;
}

section.nav-btn {
  float: right;
  margin-right: 20px;
}

.nav-btn button {
  background: #6288a5;
  border: 1px solid #326891;
  border-radius: 3px;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 11px;
  padding: 10px;
}

.nav-btn button:hover {
  background: #326891;
  border: 1px solid #6288a5;
}
